@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6dkwgd');
  src:  url('fonts/icomoon.eot?6dkwgd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6dkwgd') format('truetype'),
    url('fonts/icomoon.woff?6dkwgd') format('woff'),
    url('fonts/icomoon.svg?6dkwgd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-print:before {
  content: "\e90e";
}
.icon-arrow-down:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-googleplus:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-circle-check:before {
  content: "\e907";
}
.icon-bullseye:before {
  content: "\e908";
}
.icon-coctel:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e905";
}
.icon-beer-bottle:before {
  content: "\e904";
}
.icon-mug:before {
  content: "\e903";
}
.icon-beer:before {
  content: "\e902";
}
.icon-sandwich:before {
  content: "\e900";
}
