$icomoon-font-path: "fonts" !default;

$icon-print: "\e90e";
$icon-arrow-down: "\e90d";
$icon-instagram: "\e909";
$icon-googleplus: "\e90a";
$icon-twitter: "\e90b";
$icon-facebook: "\e90c";
$icon-circle-check: "\e907";
$icon-bullseye: "\e908";
$icon-coctel: "\e901";
$icon-close: "\e906";
$icon-menu: "\e905";
$icon-beer-bottle: "\e904";
$icon-mug: "\e903";
$icon-beer: "\e902";
$icon-sandwich: "\e900";

