@import '01_settings/index';

.u-sr-only {
  @include sr-only();
}

.u-font-hero {
    font-size: $font-hero;
}

.u-font-h1 {
    font-size: $font-h1;
}

.u-font-h1\@mobile {
    @include media($only-mobile) {
        font-size: $font-h1;
    }
}

.u-font-rivendell\@mobile {
    @include media($only-mobile) {
        font-size: $font-rivendell;
    }
}

.u-font-h2 {
    font-size: $font-h2;
}

.u-font-h3 {
    font-size: $font-h3;
}

.u-font-large {
    font-size: $font-large;
}

.u-font-base {
    font-size: $font-base;
}

.u-font-small {
    font-size: $font-small;
}

.u-font-xsmall {
    font-size: $font-xsmall;
}

.u-bold {
    font-weight: bold;
}

.u-black {
    font-weight: $black-weight;
}

.u-title {
    font-family: $title-font-family;
}

.u-white-text {
    color: $light-text-color;
}

.u-text-center {
    text-align: center;
}

.u-text-center\@sm {
    @include media($tablet) {
        text-align: center;
    }
}

.u-uppercase {
    text-transform: uppercase;
}

.u-underline {
    text-decoration: underline;
}

.u-valign-middle {
    vertical-align: middle;
}

.u-valign-sub {
    vertical-align: sub;
}
