.u-flex {
    display: flex;
}

.u-flex\@md {
    @include media($tablet) {
        display: flex;
        top: 0;
        left: 0;
        right: 0;
    }
}

.u-flex1 {
    flex: 1;
}

.u-flex-shrink {
    flex-shrink: 0;
}

.u-flex-grow {
    flex-grow: 1;
}

.u-flex-wrap {
    flex-wrap: wrap;
}

.u-flex-dircol {
    flex-direction: column;
}

.u-flex-justify-center {
    justify-content: center;
}

.u-flex-justify-between {
    justify-content: space-between;
}

.u-align-self-center {
    align-self: center;
}

.u-flex-align-center {
    align-items: center;
}

.order2 {
    order: 2;
}

.order3 {
    order: 3;
}
